$hover-color: #ff6f6f;
$main-color: #C70101;
$white-color: #FFFFFF;
$black-color: #0D0D0D;
$font-main: 'Museo Sans Cyrl', sans-serif;
$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$gap: 20px;