.main-menu {
    padding: 150px 0 0 0;
    text-align: center;
    &_title {
        font-size: 50px;
        font-weight: 700;
    }
    a {
        font-size: 35px;
        color: $black-color;
        text-decoration: underline;
        font-weight: 500;
        transition: 0.5s color;
        &:hover {
            color: $white-color;
            text-shadow: 1px 1px 1px $black-color;
        }
    }
}